<!--The content below is only a placeholder and can be replaced.-->
<div class="title">
  <h2>
    Welcome to {{ title }}!
  </h2>
</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<app-store-finder-map geoDataUrl="https://raw.githubusercontent.com/mapbox/geojson-vt-cpp/master/data/countries.geojson">
  </app-store-finder-map>

  <!--div class="container">
    <div class="row">
        <div class="lg-col-2 donation-list">
          <app-donation-list></app-donation-list>
        </div>
      <div class="lg-col-10 chart">
        <app-google-chart></app-google-chart>
      </div>
  </div>
</div-->
